html,
body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-content-perso {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project-carousel {
  height: 300px;
}

.project-carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 5px;
  padding: 50px 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
